{% extends "account/base.html" %}

{% block title %} Sign-in {% endblock %}

{%block content%} 
  <h1>Sign-in</h2> 
    {% if form.errors %}
      <p>your username and password didn't match </p>
      </p>
    {% endif %}
    <div class="login-form">
      <form action="{% url 'login'%}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}" />
        <p><input type="submit" value="sign in"></p>
      </form> 
    </div>

{%endblock content%} 
          

